<% if question  %>
  <%= simple_form_for [question, patient_answer], remote: true, html: {id: "chatForm"} do |f| %>
    <% if question.multiple_choice %>
        <%= f.input :content, as: :radio_buttons, collection: question.answers.pluck(:content), label: false, wrapper_html: { class: "choices" }, input_html: { class: "choice hidden" } %>
  <!--     <div class="fix-height"> -->
    <% else %>
        <% if question.photo %>

          <video id="video" width="120" height="240" autoplay></video>
          <button id="snap"><i class="fas fa-camera"></i></button>
          <canvas id="canvas" width="120" height="240"></canvas>
          <input type="text" hidden value="" id="patient_answer_photo" name="patient_answer[photo]">
        <% else %>
            <%= f.input :content, label: false, wrapper_html: {id: "inputchat"} %>
        <% end %>
  <!--     </div> -->
    <% end %>
    <%= f.submit "Send", id: "submitchat", class: "btn-solid" %>
  <% end %>
<% else  %>
  <%=  link_to 'Submit', diagnoses_path, method: :post, class: "btn btn-solid"%>
<% end %>
