<% if question  %>
  <%= simple_form_for [question, patient_answer], remote: true, html: {id: "chatForm"} do |f| %>
    <% if question.multiple_choice %>
        <%= f.input :content, as: :radio_buttons, collection: question.answers.pluck(:content), label: false, wrapper_html: { class: "choices" }, input_html: { class: "choice hidden" } %>
  <!--     <div class="fix-height"> -->
    <% else %>
        <% if question.photo %>

          <video id="video" width="250" height="350" autoplay></video>
          <canvas id="canvas" class="hide" width="250" height="350"></canvas>
          <button id="snap"><i class="fas fa-camera"></i></button>
          <input type="text" hidden value="" id="patient_answer_photo" name="patient_answer[photo]">

          <% content_for(:after_js) do %>
            <script>
              chatController.initiateCamera();
            </script>
          <% end %>

        <% else %>
            <%= f.input :content, label: false, wrapper_html: {id: "inputchat"} %>
        <% end %>
  <!--     </div> -->
    <% end %>
    <%= f.submit "Send", id: "submitchat", class: "btn-solid" %>
  <% end %>
<% else  %>
<div class="flex-submit">
  <%=  link_to 'Submit for Diagnosis', diagnoses_path, method: :post, class: "btn btn-solid"%>
</div>
<% end %>
