<div class="container">

  <div class="row">
      <div class="chat-container">
        <div class="chatHeader">
          <h3>
            Chat with Judy
          </h3>
        </div>
        <div class="chatMessages">
          <div class="speech-wrapper">
            <% @questions.each do |question| %>
              <div class="bubble">
              <div class="txt">
                <p class="name">Judy</p>

                <p class="message"><%= question.title %></p>
                <span class="timestamp">10:20 pm</span>
              </div>
              <div class="bubble-arrow"></div>
            </div>
              <% if question.answered?(current_user) %>
                <% if question.photo?  %>
                  <% current_user.patient_answers.each do |patient_answer| %>
                    <div>
                      <% if patient_answer.photo? %>
                        <div class="bubble alt">
                          <div class="txt">
                            <p class="name alt"><%= current_user.first_name %></p>
                            <p class="message"><%= image_tag patient_answer.photo.url %></p>
                            <span class="timestamp">10:22 pm</span>
                          </div>
                          <div class="bubble-arrow alt"></div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="bubble alt">
                    <div class="txt">
                      <p class="name alt"><%= current_user.first_name %></p>
                      <p class="message"><%= current_user.patient_answers[@questions.index(question)].content %></p>
                      <span class="timestamp">10:22 pm</span>
                    </div>
                    <div class="bubble-arrow alt"></div>
                  </div>
                <% end %>
              <% else %>
            </div>
          </div>
          <div class="chatBottom">
            <% if question.multiple_choice %>
              <%= simple_form_for [question, @patient_answer], html: {id: "chatForm"} do |f| %>

                <%= f.input :content, as: :radio_buttons, collection: question.answers.pluck(:content), label: false, wrapper_html: { class: "choices" }, input_html: { class: "choice hidden" } %>

                <%= f.submit "Send", id: "submitchat", class: "btn-solid" %>
              <% end %>
            <% elsif question.photo %>
              <%= simple_form_for [question, @patient_answer], html: {id: "chatForm"} do |f| %>
                <%= f.input :photo %>
                <%= f.input :photo_cache, as: :hidden %>
                <%= f.submit "Send", id: "submitchat", class: "btn-solid" %>
              <% end %>
            <% else %>
              <%= simple_form_for [question, @patient_answer], html: {id: "chatForm"} do |f| %>
                <%= f.input :content, label: false, wrapper_html: {id: "inputchat"} %>
                <%= f.submit "Send", id: "submitchat", class: "btn-solid" %>
              <% end %>
            <% end %>
            <% end %>
            <% break unless question.answered?(current_user) %>
          <% end %>
        </div>
    </div>
          <div class="chatBottom">
              <%= link_to 'Submit', diagnoses_path, method: :post, class: "btn btn-solid" %>
          </div>
  </div>

