<div class="container">
  <div class="row">
    <div class="chat-container">
      <div class="chatHeader">
        <h3>Chat with Judy</h3>
      </div>
      <div class="chatMessages">
        <div class="speech-wrapper">
          <ul class="messages-list">
            <% current_user.answered_questions.each do |question| %>
              <li>
                <div class="bubble">
                  <div class="txt">
                    <p class="name">Judy</p>
                    <p class="message"><%= question.title %></p><br>
                    <span class="timestamp">10:20 pm</span>
                  </div>
                  <div class="bubble-arrow"></div>
                </div>
              </li>
                <%= render partial: 'answers', :locals => {question: question, current_user: current_user, questions: @questions, answer: question.user_answer(current_user) } %>
            <% end %>
           <% if question = current_user.next_question %>
            <%= render "questions", question: question %>
           <% end %>
          </ul>
        </div>
      </div>
      <div class="chatBottom">
        <% if question = current_user.next_question %>
          <%= render partial: 'input_form', :locals => { question: question, patient_answer: @patient_answer } %>
        <% else  %>
          <%=  link_to 'Submit', diagnoses_path, method: :post, class: "btn btn-solid"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
