<div class="container">
  <div class="row">
    <div class="chat-container">
      <div class="chatHeader">
        <h3>Chat with Judy</h3>
      </div>
      <div class="chatMessages">
        <div class="speech-wrapper">
          <% @questions.each do |question| %>
            <div class="bubble">
              <div class="txt">
                <p class="name">Judy</p>
                <p class="message"><%= question.title %></p><br>
                <span class="timestamp">10:20 pm</span>
              </div>
              <div class="bubble-arrow"></div>
            </div>
            <% if question.answered?(current_user) %>
              <% if question.photo?  %>
                <% current_user.patient_answers.each do |patient_answer| %>
                  <% if patient_answer.photo? %>
                    <div class="bubble alt">
                      <div class="txt">
                        <p class="name alt"><%= current_user.first_name %></p>
                        <p class="message"><%= image_tag patient_answer.photo.url %></p>
                        <br>
                        <p>
                          <span class="timestamp">10:22 pm</span>
                        </p>
                      </div>
                      <div class="bubble-arrow alt"></div>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <div class="bubble alt">
                  <div class="txt">
                    <p class="name alt"><%= current_user.first_name %></p>
                    <p class="message"><%= current_user.patient_answers[@questions.index(question)].content %></p>
                    <br>
                    <span class="timestamp">10:22 pm</span>
                  </div>
                  <div class="bubble-arrow alt"></div>
                </div>
              <% end %>
        </div>
      </div>
        <% else %>
          <% if question.multiple_choice %>
            <div class="chatBottom ">
              <%= render 'multiplechoice_form', :locals => {question: question, object: question}%>
            </div>
          <% else %>
            <div class="chatBottom fix-height">
              <%= render 'input_form', :locals => {question: question, object: question}%>
            </div>
          <% end %>
          <% break unless question.answered?(current_user) %>
          <% end %>
        <% end %>
        <% if current_user.finished_quiz? %>
          <div class="chatBottom fix-height flex-submit">
            <%=  link_to 'Submit', diagnoses_path, method: :post, class: "btn btn-solid"%>
          </div>
        <% end %>
    </div>
  </div>
</div>
