
<div class="container">
  <h1>Chatbot MyMan</h1>
    <% @questions.each do |question| %>
      <%= question.title %>
      <% if question.answered?(current_user) %>
        <% if question.photo?  %>
          <%= current_user.patient_answers.photo %>
        <% else %>
          <%= current_user.patient_answers[0].content %>
        <% end %>
      <% else %>
        <% if question.multiple_choice %>
          <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <%= simple_form_for [question, @patient_answer] do |f| %>
              <%= f.input :content, collection: question.answers %>
              <%= f.submit %>
            <% end %>
          </div>
        <% elsif question.photo %>
          <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <%= simple_form_for [question, @patient_answer] do |f| %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
              <%= f.submit %>
            <% end %>
          </div>
        <% else %>
          <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <%= simple_form_for [question, @patient_answer] do |f| %>
              <%= f.input :content %>
              <%= f.submit %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% break unless question.answered?(current_user) %>

    <% end %>
</div>

<!--
<div class="container">
  <div class="row">
      <div class="chat-container">
        <div class="chatHeader">
          <h3>
            Chat with Judy
          </h3>
        </div>
        <div class="chatMessages">
          <div class="speech-wrapper">
            <div class="bubble">
              <div class="txt">
                <p class="name">Judy</p>



                <p class="message">Add intro and question 1 here</p>
                <span class="timestamp">10:20 pm</span>
              </div>
              <div class="bubble-arrow"></div>
            </div>
            <div class="bubble alt">
              <div class="txt">
                <p class="name alt">John</p>
                <p class="message">Nice... this will work great for my new project.</p>
                <span class="timestamp">10:22 pm</span>
              </div>
              <div class="bubble-arrow alt"></div>
            </div>
          </div>
        </div>
         <div class="chatBottom">
          <form action="#" onSubmit="return fals;" id="chatForm">
            <input type="hidden" name="text" value="user" >
            <textarea type="text" name="text" id="inputchat" value="" placeholder="type your message" ></textarea>
            <input type="submit" name="submit" value="Post" class="btn-solid"id="submitchat">
          </form>
        </div>
      </div>
  </div>

</div>
 -->
