<div class="container">
  <div class="row">
    <div class="chat-container">
      <div class="chatHeader">
        <h3>Chat with Judy</h3>
      </div>
      <div class="chatMessages">
        <div class="speech-wrapper">
          <ul class="messages-list">
              <li>
                <div class="bubble">
                  <div class="txt">
                    <p class="name">Judy</p>
                    <p class="message">
                      Hi, my name is Judy. I am SkinClean's chatbot and I will personally assist you in getting discrete, professional advice for your skin problems. What should I call you throughout this process?
                    </p>
                    <br>
                    <span class="timestamp"><%= Time.now.strftime("%b %e, %l:%M %p") %></span>
                  </div>
                  <div class="bubble-arrow"></div>
                </div>
              </li>
            <% current_user.answered_questions.each do |question| %>
              <%= render "questions/question", question: question unless question.first? %>
              <%= render partial: 'questions/answer', :locals => {question: question, current_user: current_user, questions: @questions, answer: question.user_answer(current_user) } %>
            <% end %>
            <% if !current_user.answered_questions.count.zero? %>
              <% if  question = current_user.next_question %>
                <%= render "questions/question", question: question %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="wave" class="hide">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="chatBottom">
        <%= render partial: 'input_form', :locals => { question: current_user.next_question, patient_answer: @patient_answer } %>
      </div>
    </div>
  </div>
</div>
