
  <div class="green-header">
    <h1>
      MY DIAGNOSES
      <hr>
    </h1>
  </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-2">
      <% @diagnoses.each do |diagnosis| %>
          <div class="index-diagnosis-card" id="sweet-alert-demo">
            <div class="diagnosis-name">
              <h3><%= diagnosis.user.full_name %></h3>
            </div>
              <% if diagnosis.status == "Diagnosed" %>
                <div class="corner-ribbon top-right sticky blue">
                  <p id="approved"><%=diagnosis.status%></p>
                </div>
                  <div class="diagnosis-status">
                    <p>Dr. <%=diagnosis.doctor.user.full_name%> recommends:</p>
                    <%= link_to "Diagnosis", diagnosis_path(diagnosis), class: "card-link" %>
                  </div>
                  <div class="recommendation">
                    <div class="recommendation-element">
                      <i class="fas fa-pills"></i>
                      <p>Medication</p>
                    </div>
                    <div class="recommendation-element">
                      <i class="fas fa-user-md"></i>
                      <p>Doctor's Appointment</p>
                    </div>
                  </div>
              <% else diagnosis.status == "Pending" %>
                <div class="corner-ribbon top-right sticky blue">
                  <p id="pending"><%=diagnosis.status%></p>
                </div>
                <div class="diagnosis-status">
                  <p>A diagnosis takes on average 4 hours. You will be notified via email once a doctor has been assigned to your case.</p>
                </div>
              <% end %>
            <div class="diagnosis-time">
              <p>Submitted: <%= Date.parse(diagnosis.created_at.to_s).strftime("%d of %B, %Y") %></p>
            </div>
          </div>
        <% end%>
      </div>
    </div>
