<div class="big-box-diagnosis">
  <div class="form-new-diagnosis">
    <h3>Diagnosis patient nr: <%= rand(0 .. 10000) %>  </h2>
    <%= simple_form_for [@diagnosis] do |f| %>
    <%= f.input :medical_assessment %>
    <%= f.input :recommendation %>
    <%= f.input :location %>
    <%= f.submit "Submit Diagnosis", class: "btn btn-solid" %>
    <% end %>
  </div>
  <div class="patient-info-diagnosis">
    <h3>Patient Information</h3>
    <div class="little-box-patient">
      <div class="pic-description">
        <div class="picture-diagnosis">
          <% @diagnosis.patient_answers.each do |patient_answer| %>
          <% if patient_answer.photo%>
          <%= patient_answer.photo.url  %>
          <% end %>
          <% end %>
        </div>
        <div class="description-card-diagnosis">
          <%= "patient description" %>
        </div>
      </div>
      <div class="little-box-question-answers">
        <div class="questions-answers-patient">
          <ul>
             <% @diagnosis.patient_answers.each do |patient_answer| %>
            <li> <%= patient_answer.question.title %></li>
            <li> <%= patient_answer.content %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
