<div class="big-box-diagnosis">
  <div class="form-new-diagnosis">
    <h3>Diagnosis patient nr: <%= rand(0 .. 10000) %>  </h2>
    <%= simple_form_for [@diagnosis] do |f| %>
    <%= f.input :medical_assessment %>
    <%= f.input :recommendation %>
    <%= f.input :location %>
    <%= f.submit "Submit Diagnosis", class: "btn btn-solid" %>
    <% end %>

  </div>
  <div class="patient-info-diagnosis">
    <h3>Patient Information</h3>
  <div class="little-box-patient">
    <div class="pic-description">
      <div class="picture-diagnosis">
        <%= @patient_answer.photo %>
      </div>
      <div class="description-card-diagnosis">
        <% @patient_answer.question.last %>
      </div>
    </div>
    <div class="questions-answers-patient">
      <ul>
        <% @patient_answer.each do |p| %>
        <li> <%= p.question %></li>
        <li> <%= p.answer %></li>
        <% end %>
      </ul>
    </div>
  </div>
  </div>
</div>
