<div class="wrapper-light-grey">
  <div class="stats-container">
    <h2>
      <mark class="green">Your diagnosis:</mark>
    <hr>
    </h2>
    <div class="your-doctor">
      <h3>your doctor:</h3>
    <%= cl_image_tag @diagnosis.doctor.profile_picture, height: 200, width: 200, crop: :fill %>
    <h5><%= @diagnosis.doctor.user.full_name %></h5>
    </div>
    <p>
      <h3>Medical assessment:</h3>
      <%= @diagnosis.medical_assessment %>
      <br>
      <br>
      <h3>Doctor recomendation:</h3>
      <%= @diagnosis.recommendation %>
    </p>
    <h3>Next steps:</h3>
    <h5>Your medicine:</h5>
    <h5>Find a doctor:</h5>
    <%= @diagnosis.location %>
    <%= link_to "Find", diagnosis_path(@diagnosis), class: "btn-solid" %>
  </div>
</div>
