<h1>Diagnoses#show</h1>
<p>Find me in app/views/diagnoses/show.html.erb</p>

<div class="wrapper-light-grey">
  <div class="stats-container">
    <h2>
      <mark class="green">Your diagnosis:</mark>
    <hr>
    </h2>
    <div class="your-doctor">
      <h3>your doctor:</h3>
    <%= cl_image_tag doctors.profile_picture, height: 200, width: 200, crop: :fill %>
    <h4>doctor name</h4>
    </div>
    <p>
      <h3>Medical assessment:</h3>
      <%= @diagnosis.medical_assessment %>
      <br>
      <br>
      <h3>Doctor recomendation:</h3>
      <%= @diagnosis.recommendation %>
    </p>
    <h3>Next steps:</h3>
    <h4>Your medicine:</h4>
    <h4>Find a doctor:</h4>
    <%= @diagnosis.location %>
    <%= link_to "Find", diagnosis_path(@diagnosis) %>
  </div>
</div>
