<div class="wrapper-light-grey">
  <div class="stats-container">
    <h2>
    <mark class="green">Your diagnosis</mark>
    <hr>
    </h2>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
    <div class="section-header">
      <h2>Your doctor</h2>
      <p>Your trusted physican advising you</p>
    </div>
    <div class="process-card big">
      <div class="process-card-image-container">
        <div class="doc-circle">
          <%= cl_image_tag @diagnosis.doctor.profile_picture, class: 'process-card-image'%>
        </div>
      </div>
      <div class="process-card-description">
        <h2>
        Dr. <%= @diagnosis.doctor.user.full_name %>
        </h2>
      </div>
    </div>
    <div class="section-header">
      <h2>
      Medical Assessment
      </h2>
      <p>Official physical assessment of your condition</p>
    </div>
    <div>
      <%= @diagnosis.medical_assessment %>
    </div>
    <div class="section-header">
      <h2>
      Dr. <%= @diagnosis.doctor.user.full_name %>'s recommendation:
      </h2>
      <p>Practical tips from your doctor</p>
    </div>
    <div>
      <p> <%= @diagnosis.recommendation %></p>
    </div>
  </p>
</div>
</div>
<div class="wrapper-white">
<div class="stats-container">
  <h2>
  <mark class="green">Next steps</mark>
  <hr>
  </h2>
</div>
<div class="section-header">
  <h2>
  Recommended medicine
  </h2>
  <p>Immediate help to make you feel better</p>
  <div class="medicine-box">
    <% @medicines.each do |medicine| %>
    <div class="medicine-card-visible">
      <div class="not-clicked">
        <div class="medicine-pic">
          <%= cl_image_tag medicine.medicine_picture %>
        </div>
        <div class="name-med">
          <%= medicine.name %>
        </div>
        <div class="buy-hidden">
          <%= link_to "Buy", diagnosis_path(@diagnosis), class: "btn btn-solid" %>
          <!-- <i class="fas fa-chevron-down"></i> -->
        </div>
        <!-- <div class="sign-hidden">
          <i class="fas fa-chevron-down"></i>
        </div> -->
      </div>
      <div class="clicked">
        <div class="medicine-pic">
          <%= cl_image_tag medicine.medicine_picture, class: "movie-img" %>
        </div>
        <div class="name-med">
         <h1><%= medicine.name %></h1>
        </div>
        <div class="description-hidden">
         <h5><em>Description and Risks:</em></h5>
          <%= medicine.description %>
        </div>
        <div class="price-med">
          <p><%= medicine.price_per_unit %>€</p>
        </div>
        <div class="risk-med">
          <%= medicine.risk %>
        </div>
        <div class="buy-hidden">
          <%= link_to "Buy", diagnosis_path(@diagnosis), class: "btn btn-solid" %>
          <!-- <i class="fas fa-chevron-down"></i> -->
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="wrapper-light-grey">
    <div class="stats-container">
      <div class="section-header">
        <h2>
          Find a doctor near you
        </h2>
        <p>Dermatologists specialized on your condition</p>
      </div>
      <div class="map-container">
        <div id="map"
        style="width: 100%;
        margin-bottom: 50px;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        >
          <div id="search-map">
            <%= form_tag diagnosis_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control", id: "doctor_address",
                placeholder: "Find a doctor"
              %>
              <%= submit_tag "Submit" , class: "btn btn-solid", onclick: "scrollToMapBottom();" %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
<!--   <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
<div class="process-card small">
< @diagnosis.doctor.address %>
< link_to "Find", diagnosis_path(@diagnosis), class: "btn btn-solid" %>
</div>
</div> -->
