 <div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
        <li>
           <%= link_to "Diagnoses", diagnoses_path, class: "link" %>
        </li>
        <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link" %>
        </li>
        <% else %>
        <li>
          <%= link_to "Become a doctor", new_user_registration_path(role: "doctor"), class: "link" %>
        </li>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
